.chat-main__message-list
  .chat-main__message-list__name
    =message.user.name
    .chat-main__message-list__name__date
      =message.created_at.strftime("%y年%m月%d日%H時%M分")
  .chat-main__message-list__comment
    - if message.content.present?
      %p.chat-main__message-list__comment__content
        = message.content
        = image_tag message.image.url, class: 'chat-main__message-list__comment__content__image' if message.image.present?
