.chat-main{
  width : calc(100vw - 300px);
  float: right;
  position: absolute;
  top: 0;
  right: 0;

  &__group-info{
    background-color: $siro1;
    border-bottom: $siro2;
    height: 100px;
    display: flex;
    justify-content: space-between;

    &__detail{
      height: 100px;
      flex-direction: column;

      &__name{
        padding: 35px 0px 15px 40px;
        font-size: 20px;
        color: $kuro1;
      }
      &__member{
        padding-left: 40px;
        font-size: 12px;
        color: $haiiro2;
      }
    }
    
    &__edit{
      padding: 40px 40px 0px 0px;
      font-size: 16px;

      &_btn{
        outline-style: ridge;
        outline-width: thin;
        outline-color: $mizuiro;
        padding: 12px 20px 10px 20px;
        height: 40px;
        width: 72px;
        color: $mizuiro;
        text-decoration: none;
        align-items: center;
      }
    }
  }

  &__message-form{
    background-color: $haiiro1;
    height: 90px;
    padding: 20px 40px;
    box-sizing: border-box;

    &__new_message{  
      display : flex;
      width: 100%;
      height: 100%;

      &__type{
        width: 100%;
       
        &__input{
          display:flex;
          height: 100%;
          width:100%;
          position: relative;

          &__text{
            background-color: $siro1;
            width: 100%;
            height: 100%;
          }

          &__icon{
            position: absolute;
            right: 10px;
            top: 15px;

            &__image{
              font-size: 1.5em;

              &__mozi{
                display: none;
              }
            }
          }
        }
      }
      &__send{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;

        &__btn{
          font-size: 16px;
          background-color: $mizuiro;
          width: 100px;
          color: $siro1;
          text-decoration: none;
          height: 50px;
        }
      }
    } 
  }
}


#message_content{
  width: 100%;
}