* {
  box-sizing: border-box;
}

/*
見にくなるので行を開けます








*/

.side-bar{
  background-color: $kon2;
  position: absolute;
  top: 0px;
  left: 0px;
  width : 300px;
  height: 100vh;
  float: left;
  color: $siro1;
  font: bold;
  &__user-name{
    background-color: $kon1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
    font-size: 16px;
    &__top-items{
      height: 20px;
      width: 100%;
      display: flex;  
      &__icons{
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 60px;
        float: right;
        order: 1;
        &__edit{
          &_btn{
            color: $siro1;
          }
        }
        &__cog{
          &_btn{
            color: $siro1;
            margin-left: 5px;
          }
        }
      }
      &__name{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height:100%;
        width:calc( 100% - 60px);
        float:left;
        order:0;
      }
    }
  }
}

.side-bar__group{
  height: calc(100vh - 100px);
  &__list{
    color: $siro1;
    display:flex;
    flex-direction:column;
    padding: 0px 20px 40px 20px;
    &__name{
      margin: 20px 0px 5px 0px;
      display: inline-block;
      font-size: 15px;
    }
    &__comment{
      display:inline-block;
      font-size: 11px;
    }
  }
}

.chat-main{
  position: absolute;
  top: 0px;
  left: 300px;
  width : calc(100vw - 300px);
  height: 100vh;
  float: right;
  &__group-info{
    background-color: $siro1;
    border-bottom: $siro2;
    height: 100px;
    display: flex;
    justify-content: space-between; 
    &__detail{
      height: 100px;
      flex-direction: column;
      &__name{
        padding: 35px 0px 15px 40px;
        font-size: 20px;
        color: $kuro1;
      }
      &__member{
        padding-left: 40px;
        font-size: 12px;
        color: $haiiro2;
      }
    }
    
    &__edit{
      padding: 40px 40px 0px 0px;
      font-size: 16px;
      &_btn{
        outline-style: ridge;
        outline-width: thin;
        outline-color: $mizuiro;
        padding: 12px 20px 10px 20px;
        height: 40px;
        width: 72px;
        color: $mizuiro;
        text-decoration: none;
        align-items: center;
      }
    }
  }

  &__message-list{
    background-color: $siro3;
    height: calc(100vh - 190px);
    &__name{
      padding: 35px 0px 12px 40px;
      font-size: 16px;
      display: flex;
      color: $kuro1;
      &__date{
        font-size: 12px;
        margin-left: 10px;
        color: $haiiro2;
      }
    }
    &__comment{
      color: $kuro2;
      padding-left: 40px;
      font-size: 14px;
      margin-bottom: 11px;
    }
  }
  &__message-form{
    background-color: $haiiro1;
    height: 90px;
    display: flex;  
    &__type{
      padding: 20px 0px 20px 40px;
      align-items: center;
      height: 100%;
      display:flex;
      width: calc(100% - 100px);
      position: relative;
      &__input{
        background-color: $siro1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        &__icon{
          position: absolute;
          right: 10px;
          &__image{
            font-size: 1.5em;
            &__mozi{
              display: none;
            }
          }
        }
      }
    } 
    &__send{
      margin: 20px 40px 20px 15px;
      &__btn{
        font-size: 16px;
        background-color: $mizuiro;
        width: 100px;
        color: $siro1;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
      }
    }
  }
}